*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

/* .avatar{
  width: 60px;
  border-radius: 20px;
} */

/* / REGOLE GENERALI */
.container{
  width: 80%;
  height: 100vh;
  display: flex;
  margin: auto;
  /* background-color: red; */
}



.box-right{
  width: 70%;
  margin-top: 30px;
  /* background-color: grey; */
}

/********** BOX LEFT */
.box-left{
  width: 30%;
  margin-top: 30px;
  background-color: white;

}

.utente{
  height: 100px;
  width: 100%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.utente .avatar{
  width: 60px;
  border-radius: 20px;
  padding-left: 5px;
}

.utente h2{

}

.utente .icons{
  padding-right: 15px;
  font-size: 130%;
  color: lightgrey;
}


.notification{
  width: 100%;
  background-color: rgb(5, 171, 232);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.notification i{
  font-size: 50px;
  border-radius: 50%;
  color: rgb(5, 171, 232);
  margin: 10px 10px;
  background-color: white;
}

.notification h2{
}

.notification h3{
  flex-wrap: wrap;
}

.search{
  height: 50px;
  background-color: green;
}

.contacts{
  height: calc(100% - 250px);
  background-color: pink;
  overflow-y: scroll;
}
/********** /BOX LEFT */

/****************** BOX RIGHT */
.utente-chat{
  height: 100px;
  background-color: green;
}

.chat{
  height: calc(100% - 200px);
  /* background-image: url('img/mine.jpg'); */
  background-color: grey;
  overflow-y: scroll;

}
.message{
  height: 100px;
  background-color: blue;
}

/******************* /BOX RIGHT */

/*  */
