*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* / REGOLE GENERALI */

.body-top{
  height: 150px;
  width: 100%;
  background-color: rgb(0, 184, 129);
}

.body-bottom{
  height: 800px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.11);
}


/*  */
