*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

.style-contatto{
  font-weight: bold;
  font-family: sans-serif;
}


/* / REGOLE GENERALI */
.container{
  width: 80%;
  height: 100vh;
  display: flex;
  margin: auto;
}



.box-right{
  width: 70%;
  margin-top: 30px;
}

/********** BOX LEFT */
.box-left{
  width: 30%;
  margin-top: 30px;
  background-color: white;

}

.utente{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.utente .avatar{
  width: 60px;
  border-radius: 50%;
  padding-left: 5px;
}

.utente .user img{
  vertical-align: middle;

}

.user span{
  font-size: 110%;
  padding-left: 15px;
  font-weight: bold;

}

.user{
  cursor: pointer;
}

.utente .icons i{
  padding-right: 20px;
  font-size: 130%;
  color: lightgrey;
  cursor: pointer;
}


.notification{
  width: 100%;
  background-color: rgb(5, 171, 232);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.notification i{
  font-size: 40px;
  border-radius: 50%;
  color: rgb(5, 171, 232);
  margin: 10px 10px;
  background-color: white;
}

.notification .testo{
  display: flex;
  flex-direction: column;
}

.search{
  margin: 15px 0;
}

.search i{
  font-size: 110%;
  margin: 10px 10px;
  color: lightgrey;
}
.search input{
  font-size: 120%;
  width: 90%;
}

.contacts{
  width: 100%;
  height: calc(100% - 230px);
  background-color: white;
  overflow-y: scroll;
  cursor: pointer;
}

.contacts .contact img{
  width: 70px;
  border-radius: 50%;
  margin: 10px 10px;
  vertical-align: middle;
}

.contact:hover{
  background-color: lightgrey;
}


/********** /BOX LEFT */

/****************** BOX RIGHT */
.utente-chat{
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.utente-chat .contatto{
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

.utente-chat .contatto img{
  width: 60px;
  border-radius: 50%;
}

.utente-chat .dati-contatto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.utente-chat .icone-contatto i{
  padding-right: 15px;
  color: lightgrey;
  font-size: 130%;
  cursor: pointer;
}


.chat{
  width: 100%;
  height: calc(100% - 200px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;

}

.chat .messaggio{
  width: 350px;
  border-radius: 50px;

}

.chat .messaggio .inviato{
  background-color: rgb(52, 186, 130);
  float: right;
  clear: both;

}

.chat .messaggio .ricevuto{
  background-color: rgb(60, 196, 196);
  float: left;
  clear: both;
}

.message{
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.message input{
  width: 80%;
  height: 50%
}

.message i{
  color: lightgrey;
  font-size: 40px;
  cursor: pointer;
}


/******************* /BOX RIGHT */

/*  */
